[Desktop Entry]
Icon=/home/uos/.local/share/applications/anbox/anbox-com-alibaba-android-rimet.png
Name=钉钉
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
Exec=KboxAppLauncher com.alibaba.android.rimet  "/usr/bin/anbox-launch.sh --action=android.intent.action.MAIN --package=com.alibaba.android.rimet --component=com.alibaba.android.rimet.biz.LaunchHomeActivity"
