Package: #debName#
Version: #debVersion#
Architecture: #platform#
Maintainer: Uniontechos THIRD Maintainers <uniontechos-third@uniontech.com>
Recommends:
Suggests:
Section: devel
Priority: optional
Multi-Arch: foreign
Description: #description# Android application installation
homepage: www.uniontech.com
Depends: exagear
