[Desktop Entry]
Name=腾讯视频
Exec=/home/Kbox/slink/com.tencent.qqlive launcher launcherapp -n "com.tencent.qqlive" -c "com.tencent.qqlive.ona.activity.SplashHomeActivity" -t "腾讯视频" -i "/home/Kbox/icons/com.tencent.qqlive.png"
Terminal=false
Type=Application
Icon=/home/Kbox/icons/com.tencent.qqlive.png
Comment=腾讯视频