[Desktop Entry]
Name=知乎
Exec=/home/Kbox/slink/com.zhihu.android launcher launcherapp -n "com.zhihu.android" -c "com.zhihu.android.app.ui.activity.LauncherActivity" -t "知乎" -i "/home/Kbox/icons/com.zhihu.android.png"
Terminal=false
Type=Application
Icon=/home/Kbox/icons/com.zhihu.android.png
Comment=知乎