[Desktop Entry]
Name=网易有道词典
Exec=/home/Kbox/slink/com.youdao.dict launcher launcherapp -n "com.youdao.dict" -c "com.youdao.dict.activity.DictSplashActivity" -t "网易有道词典" -i "/home/Kbox/icons/com.youdao.dict.png"
Terminal=false
Type=Application
Icon=/home/Kbox/icons/com.youdao.dict.png
Comment=网易有道词典