[Desktop Entry]
Name=同花顺
Terminal=false
Type=Application
Icon=/home/uos/.local/share/applications/anbox/anbox-com-hexin-plat-android.png
Exec=KboxAppLauncher com.hexin.plat.android "/usr/bin/anbox-launch.sh --action=android.intent.action.MAIN --package=com.hexin.plat.android --component=com.hexin.plat.android.AndroidLogoActivity"
