[Desktop Entry]
Name=抖音短视频
Exec=/usr/bin/anbox-launch.sh --action=android.intent.action.MAIN --package=com.ss.android.ugc.aweme --component=com.ss.android.ugc.aweme.splash.SplashActivity 
Terminal=false
Type=Application
Icon=/home/uos/.local/share/applications/anbox/anbox-com-ss-android-ugc-aweme.png
