[Desktop Entry]
Name=企业微信
Exec=/usr/bin/anbox-launch.sh --action=android.intent.action.MAIN --package=com.tencent.wework --component=com.tencent.wework.launch.LaunchSplashActivity 
Terminal=false
Type=Application
Icon=/home/uos/.local/share/applications/anbox/anbox-com-tencent-wework.png
